@import url('https://fonts.googleapis.com/css2?family=Comfortaa&display=swap');

html {
    box-sizing: border-box;
    margin: 0;
    border: 0;
}

body {
    font-family: 'Comfortaa', sans-serif;
    /* min-width: 600px; */
}

.mid-body {
    min-width: 385px;
}

.form-control:focus {
    border-color: #820303 !important;
    box-shadow: 0 0 5px #82030375 !important;
}

.btn-faansy-red {
    --bs-btn-color: #000;
    --bs-btn-bg: #820303;
    --bs-btn-border-color: #820303;
    --bs-btn-hover-color: #000;
    --bs-btn-hover-bg: #820303e7;
    --bs-btn-hover-border-color: #82030375;
    --bs-btn-focus-shadow-rgb: 11, 172, 204;
    --bs-btn-active-color: #000;
    --bs-btn-active-bg: #820303d1;
    --bs-btn-active-border-color: #82030375;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #000;
    --bs-btn-disabled-bg: #820303;
    --bs-btn-disabled-border-color: #820303;
}

.text-faansy-red {
    color: #820303;
}

.bg-faansy-red {
    --bs-bg-opacity: 1;
    --bs-faansy-red-rgb: rgb(130, 3, 3);
    background-color: rgba(var(--bs-faansy-red-rgb), var(--bs-bg-opacity)) !important;
}

.show-more:hover {
    color: #820303;
    border-color: #820303;
}

.show-more:hover {
    background: #82030326;
}

.sidebar-item:hover {
    color: #820303;
}

.card-img-overlay {
    --bs-card-img-overlay-padding: 0;
}

/* input[type=file]::file-selector-button {
    margin-right: 20px;
    border: none;
    background: #084cdf;
    padding: 10px 20px;
    border-radius: 10px;
    color: #fff;
    cursor: pointer;
    transition: background .2s ease-in-out;
}

input[type=file]::file-selector-button:hover {
    background: #0d45a5;
} */

.btn-close {
    --bs-btn-close-color: #000;
    --bs-btn-close-bg: url(data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23000'%3e%3cpath d='M.293.293a1 1 0 0 1 1.414 0L8 6.586 14.293.293a1 1 0 1 1 1.414 1.414L9.414 8l6.293 6.293a1 1 0 0 1-1.414 1.414L8 9.414l-6.293 6.293a1 1 0 0 1-1.414-1.414L6.586 8 .293 1.707a1 1 0 0 1 0-1.414z'/%3e%3c/svg%3e);
    --bs-btn-close-opacity: 0.5;
    --bs-btn-close-hover-opacity: 0.75;
    --bs-btn-close-focus-shadow: 0 0 0 0.25rem rgb(253 13 83 / 25%);
    --bs-btn-close-focus-opacity: 1;
    --bs-btn-close-disabled-opacity: 0.25;
    --bs-btn-close-white-filter: invert(1) grayscale(100%) brightness(200%);
    box-sizing: content-box;
    width: 1em;
    height: 1em;
    padding: 0.25em 0.25em;
    color: var(--bs-btn-close-color);
    background: transparent var(--bs-btn-close-bg) center / 1em auto no-repeat;
    border: 0;
    border-radius: 0.375rem;
    opacity: var(--bs-btn-close-opacity);
}

/* a {
    color: #ffeded;
} */

a:hover {
    /* color: #f8cecec6; */
    opacity: 0.75;
}

.nav {
    --bs-nav-link-padding-x: 1rem;
    --bs-nav-link-padding-y: 0.5rem;
    --bs-nav-link-font-weight: ;
    --bs-nav-link-color: #820303;
    --bs-nav-link-hover-color: #820303a5;
    --bs-nav-link-disabled-color: #0000003b;
    display: flex;
    flex-wrap: wrap;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
}

@keyframes zoominoutlivestream {
    0% {
        transform: scale(1, 1);
    }

    50% {
        transform: scale(1.03, 1.03);
    }

    100% {
        transform: scale(1, 1);
    }
}

.livestream-animation {
    animation: zoominoutlivestream 1s infinite;
}

.loading-animation {
    animation: zoominoutlivestream 1s infinite;
}


/* Front-page Layout Animation */
.texts-animated {
  /* text-indent: 8px; */
  /* position: relative; */
  display: inline;
}

.texts-animated span {
  color: black;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  -ms-animation: topToBottom 5s infinite;
  -webkit-animation: topToBottom 5s infinite;
  animation: topToBottom 5s infinite;
  text-shadow: 0.2px 0.2px 2px white;
}

.texts-animated span:nth-child(2){
  -ms-animation-delay: 1s;
  -webkit-animation-delay: 1s;
  animation-delay: 1s;
}

.texts-animated span:nth-child(3){
  -ms-animation-delay: 2s;
  -webkit-animation-delay: 2s;
  animation-delay: 2s;
}

.texts-animated span:nth-child(4){
  -ms-animation-delay: 3s;
  -webkit-animation-delay: 3s;
  animation-delay: 3s;
}

.texts-animated span:nth-child(5){
  -ms-animation-delay: 4s;
  -webkit-animation-delay: 4s;
  animation-delay: 4s;
}


@-webkit-keyframes topToBottom {
  0%, 20% {opacity: 1} /* visible for 1s */
  20.01%, 100% {opacity: 0} /* hidden for 4s */
}











/* Card styles */
:root {
    --purple: red;
    --purple2: black;
    --white: #f6d3fd;
    --height: 222px;
    --width: 350px;
    --font: "Overpass Mono", monospaced;
    --masterFont: "Raleway", sans-serif;
}

/* body {
    --baseColor: #c2e59c;
    overflow: hidden;
    margin: 0;
    padding: 0;
    background: var(--baseColor);
    background: linear-gradient(to right, #64b3f4, var(--baseColor));
} */

.credit-card {
    --heightCalc: -calc((var(--height) / 2) - 10px);
    --widthCalc: calc(var(--width) / 2);
    height: var(--height);
    width: var(--width);
    min-width: var(--width);
    background: linear-gradient(90deg, var(--purple), var(--purple2));
    border-radius: 10px;
    box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.2);
    margin: 10px auto;
    position: relative;
    filter: drop-shadow(3px 3px 3px rgba(0, 0, 0, 0.6));
    transform: translateY(calc(50% - 10px));
}

.card__figure {
    position: relative;
    height: 40px;
    margin: 0;
}

.card__figure::after {
    content: "PLATINUM";
    font-size: 0.45em;
    letter-spacing: 4px;
    color: var(--white);
    position: absolute;
    width: 100%;
    text-align: center;
    bottom: calc(-100% - 15px);
}

.card__figure--logo {
    --widthLogo: 130px;
    width: var(--widthLogo);
    position: absolute;
    right: 50%;
    transform: translate(calc(var(--widthLogo) / 2), 20px);
}

.card__reader {
    width: 50px;
    height: 40px;
    background: radial-gradient(#d9a56c, #b18457);
    border-radius: 5px;
    position: absolute;
    top: 50%;
    transform: translate(33px, -40px);
    overflow: hidden;
}

.card__reader--risk {
    width: 50px;
    height: 40px;
    border-radius: 13px;
    background: transparent;
    border: 1px solid #666;
    position: absolute;
    z-index: 0;
}

.card__reader--risk-one {
    transform: translate(37px, 15px);
}

.card__reader--risk-two {
    transform: translate(15px, 30px);
}

.card__reader--risk-three {
    transform: translate(-37px, -15px);
}

.card__reader--risk-four {
    transform: translate(-15px, -30px);
}

.card__number {
    font-family: var(--font);
    font-size: 1.15em;
    font-weight: normal;
    color: var(--white);
    letter-spacing: 2.5px;
    text-align: center;
    margin-left: -20px;
    margin-top: 80px;
    z-index: 1;
    position: relative;
    filter: drop-shadow(1px 1px 1px rgba(0, 0, 0, 0.3));
}

.card__number::before,
.card__number::after {
    font-family: Arial;
    color: rgba(0, 0, 0, 0.4);
    font-size: 0.4em;
    position: absolute;
    letter-spacing: 0px;
}

.card__number::before {
    content: "5032";
    transform: translate(15px, 22px);
}

.card__number::after {
    content: "Valid thru";
    width: 80px;
    transform: translate(-215px, 22px);
}

.card__dates {
    position: absolute;
    width: 40%;
    font-size: 0.9em;
    display: flex;
    justify-content: space-between;
    color: var(--white);
    font-family: var(--font);
    bottom: 22%;
    transform: translate(60px, 0px);
}

.card__dates span {
    filter: drop-shadow(1px 1px 1px rgba(0, 0, 0, 0.3));
}

.card__name {
    font-family: var(--font);
    font-size: 0.9em;
    font-weight: normal;
    color: var(--white);
    letter-spacing: 2.5px;
    transform: translate(35px, 25px);
    position: relative;
    filter: drop-shadow(1px 1px 1px rgba(0, 0, 0, 0.3));
}

.card__flag {
    right: 30px;
    top: 45%;
    border-radius: 25px;
    transform: translate(0, -28px);
    position: absolute;
    height: 110px;
    width: 80px;
    border: 1px solid rgba(0, 0, 0, 0.3);
}

.card__flag--globe {
    --margin: 5px;
    width: calc(100% - (var(--margin) * 2));
    background-color: #b7b2b8;
    height: 50%;
    border-radius: 20px;
    margin: var(--margin);
    background: repeating-linear-gradient(0deg,
            #dbd1dc,
            #dbd1dc 5px,
            #b2aab5 7px,
            #b2aab5 5px);
}

.card__flag--globe::after,
.card__flag--globe::before {
    content: "\f0ac";
    font-family: FontAwesome;
    color: rgba(0, 0, 0, 0.2);
    font-size: 3em;
    top: 6px;
    left: 2px;
    position: absolute;
}

.card__flag--globe::after {
    transform: translateX(10px);
}

.card__flag--globe::before {
    transform: translateX(25px);
}

.card__flag--red {
    position: absolute;
    left: 5px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #ce0e1d;
}

.card__flag--yellow {
    position: absolute;
    right: 5px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #e39833;
}

.card__flag--yellow::after {
    content: "MasterCard";
    position: absolute;
    font-size: 0.7em;
    top: 50%;
    transform: translate(-25px, -7px);
    font-family: var(--masterFont);
    font-style: italic;
    font-weight: 800;
    color: var(--white);
    filter: drop-shadow(1px 1px 1px rgba(0, 0, 0, 0.5));
}

.assign {
    text-align: center;
    margin-top: 113px;
    font-family: var(--masterFont);
    color: #fff;
    font-size: 0.8em;
    filter: drop-shadow(1px 1px 1px rgba(0, 0, 0, 0.3));
}

.assign a {
    text-decoration: none;
    font-weight: 700;
    color: #fff;
}

.assign a::hover {
    color: var(--purple);
}